<h1>Showing selected article</h1>

<p>Title: <%= @article.title %></p>
<o>
  Description: <%= @article.description %>
</o>

<p>
  <%= link_to "Back to Articles Listring", articles_path %> |
  <%= link_to "Edit Articles", edit_article_path(@article) %>
</p>